extends layout

block content
  script.
    var f = !{JSON.stringify(url)}

  div#audio_over
    audio#audio_cont(controls)
      source#song_src(type="audio/mpeg")
  div#show_cont
    div#show_cont_list
