extends layout

block content
  div#audio_over
    audio#audio_cont(controls)
      source#song_src(type="audio/mpeg")
  div#show_cont
    each val in url
      div(data-url=val[0]).show
        a(target="_blank" href="http://midnightsnacks.fm/show/"+val[1]+"/"+val[2]).ms_lnk="Show " + val[1]
        span.showDate= val[2]
